
section{
    display: flex;
    margin-bottom: 60px;
    padding: 0 120px;
   .flexItem{
        width:34%;
        padding-right: 48px;
    } 
    h2{
        font-size: 24px;
        font-weight: 400px;
        line-height: 33px;
        font-family: 'Noto Sans';
        margin-bottom: 28px;
    }
    p{
        font-size: 16px;
        font-weight: 400px;
        line-height: 24px;
        font-family: 'Noto Sans';
        margin-bottom: 20px;
    }
  
    .tag {
    span{
        margin-right: 8px ;
        background-color: #D9D9D9;
        font-size: 12px;
        font-weight: 400px;
        line-height: 12px;
        font-family: 'Noto Sans';
        border-radius: 4px;
        padding:4px 8px 4px 8px;
        margin-bottom: 20px;
    }
    }
    .a{
        padding-top: 20px;
      
        a{  font-size: 16px;
            font-weight: 400px;
            line-height: 22px;
            font-family: 'Noto Sans';
            color: #009861;
            text-decoration: none;
            &:hover{
                color: #006743;
            }
        
        }

    }
    .img{
        width: 67%;
    
      img{
        width: 100%;
      }
    }
}
