

.header{
    max-width: 1440px;
    max-height: 80px;
    background-color: #FFF;
    display: flex;
    justify-content: space-between;
    margin: 17px 126px;    
    img{
        width: 129px;
        height: 46px;
    }

    nav{
        ul{ margin: 0;

            li{ display: inline-block;
                padding:7px 15px;
                text-shadow:0 4px 4px rgba(0,0,0,0.35);
                font-family: 'Noto Sans';
                font-style: normal;
                font-weight: 300;
                font-size: 20px;
                line-height: 28px;
                text-align: center;
                text-transform: capitalize;

                a{ 
                    text-decoration: none;
                    color: #000;
                    &:hover{
                    color: gray;

                }

            }
        }
    }

}
}

