.visualDetailItem {
	width: 1000px;
	margin: 0px auto;

	img {
		display: block;
		margin: 0px auto;
		width:600px;
		margin-top: 48px;
		border-radius: 10px;
	}
	
	.visualTitle {
		font-family: "Noto Sans";
		font-style: normal;
		font-weight: 700;
		font-size: 48px;
		line-height: 67px;
		padding: 64px 0 32px 0;
		color: #000;
	}
	.visualSummary {
		font-family: "Noto Sans";
		font-style: normal;
		font-weight: 400;
		font-size: 28px;
		line-height: 39px;
		padding-bottom: 64px;
		color: #7d7d7d;
	}
	.visualSubtitle {
		font-family: "Noto Sans";
		font-style: normal;
		font-weight: 700;
		font-size: 32px;
		line-height: 45px;
		padding-bottom: 24px;
		color: #000;
	}
	.visualContent {
		font-family: "Noto Sans";
		font-style: normal;
		font-weight: 400;
		font-size: 20px;
		line-height: 28px;
		padding-bottom: 32px;
		color: #7d7d7d;
	}
	.visualSubtitleOne {
		font-family: "Noto Sans";
		font-style: normal;
		font-weight: 700;
		font-size: 32px;
		line-height: 45px;
		padding: 32px 0 24px 0;
		color: #000;
	}
	.visualContentOne {
		font-family: "Noto Sans";
		font-style: normal;
		font-weight: 400;
		font-size: 20px;
		line-height: 28px;
		padding-bottom: 80px;
		color: #7d7d7d;
	}
}
