.footer{
max-width: 1440px;
max-height: 224px;
display:flex;
justify-content: center;
border-top: #D9D9D9 solid ;
.container{
    display: block;
.footeritem{
    padding: 0 70px;
}    

P{

    color:#7D7D7D;
    font-family: 'Noto Sans';
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    text-shadow: 0 4px 4px  rgba(0,0,0,0.25);
}
}
}