.footer{
display:flex;
justify-content: center;
border-top: #D9D9D9 solid 1px ;
.container{
    display: block;
    margin: 90px 0 60px 0;
.footeritem{
    padding-bottom: 9px;
    padding:0 51px;
    margin: 34px;
}    

P{

    color:#7D7D7D;
    font-family: 'Noto Sans';
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
}
}
}