.h1{
    text-align:center;
    margin: 60px 0 120px 0;
    background-color: #69A8aa;
    padding: 20px;
    color:white;
  }
.wrapper{
    width: 340px;
    height: 540px;
    border-radius: 10px;
    background-color: #4e5052;
    overflow: hidden;
    margin: 0 auto;
}
.screen{
    height: 100px;
    color: white;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 32px;
}

.buttonBox{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 1px;
    height: calc(100% - 100px);
}

.btn{
    border: none;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    color: white;
    background-color: #7a7b7d;
}
.zero{
    grid-column: 1/span 2;
}