// button

button {
  border: none;
  background-color: #7a7b7d;
  font-size: 24px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  cursor: pointer;
  outline: none;
}

button:hover {
  background-color: #a0a1a3;
}

.sign {
  /* grid-column: 3 / 5; */
  background-color: #ff950c;
}

.sign:hover {
  background-color: #d37b09;
}

.zero {
  grid-column: 1 / span 2;
}

.func{
  background-color: #656668;
}

.func:hover{
  background-color: #96999d;
}

// button box

.buttonBox {
  height: calc(100% - 100px);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 1px;
}

// screen

.screen {
  height: 100px;
  width: 100%;
  padding: 0 10px;
  border-radius: 10px;
  font-size: 32px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: white;
  box-sizing: border-box;
}

// wrapper

.wrapper {
  width: 340px;
  height: 540px;
  border-radius: 10px;
  background-color: #4E5052;
  overflow: hidden;
  margin: 60px auto;
}

