.h6{
  padding: 16px 24px;
  margin: 0;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.6;
  letter-spacing: 0.0075em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: #69A8aa;
  color: white;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  
}

.grid{
  display: grid;
  grid-template-columns: repeat((2,1fr));
  gap: 20px;
  margin: 30px;
}

.todos{
  .todo{
    border: 1.5px solid #69A8aa;
    padding: 20px;
    border-radius: 12px;
    margin-bottom: 20px;
    h3{
      margin-top: 0;
      display: flex;
      justify-content: space-between;
    
    .finish{
      vertical-align: top;
      display: inline-block;
      margin-left: 8px;
      background-color: #69A8aa;
      color: white;
      padding: 4px;
      font-size: 12px;
      border-radius: 4px;
    }
    .tag{
      @extend .finish;
      background-color:#69A8aa;
      color: white;
       }
    }
  }
}
.actions{
  background: #eeeeee;
  padding: 30px;
  input{
    padding: 7px;
  }
  label{
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    span{
      margin-bottom: 8px;
    }
    .error{
      margin-top: 8px;
      color:red;
    }
  }
  button{
    width: 100%;
  } ;
}